<template>
  <footer>
    <section class="explorer__footer">
      <span class="explorer__footer_copyright">&copy 2018 Gruut Networks</span>
    </section>
  </footer>
</template>

<script>
  export default {
    name: 'Footer'
  }
</script>

<style scoped>
  .explorer__footer_copyright {
    color: #aaaaaa;
  }
</style>
